<?xml version="1.0" encoding="UTF-8" ?>
<!--XML 문서의 버전과 인코딩 방식을 지정-->
<configuration status="INFO">
    <!--Log4j2의 구성 요소를 정의하는 태그, status="INFO"는 Log4j 자체의 로그 수준, INFO 이상일때 출력-->
    <Appenders><!--로그 출력 방법을 정의하는 섹션-->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{hh:mm:ss} %5p [%c] %m%n"/>
            <!--로그 출력 형식을 지정,UTF-8로 인코딩-->
            <!--%d{hh:mm:ss}: 로그 발생 시간을 시:분:초로 표시.
            %5p: 로그 수준(INFO, WARN 등)을 5자리로 맞춰서 출력.
            [%c]: 로그 발생 클래스 또는 카테고리 이름을 출력.
            %m: 로그 메시지를 출력.
            %n: 줄 바꿈 문자 추가.-->
        </Console>
    </Appenders>
    <loggers>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="org.pgm" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <root level="INFO" additivity="false">
            <Appender-ref ref="console"/>
        </root>
    </loggers>
</configuration>